.container {
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.buttonLink button {
  background-color: #f7422e;
  border: none;
  outline: none;
  color: white;
  min-width: 220px;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 4px;
  border-radius: 10px;
}

.buttonLink:active {
  transform: translateY(4px);
}

.HelpPicture img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.HelpIcon button {
  color: black;
  cursor: pointer;
  display: flex;
  align-items: left;
  margin: 20px;
}

.Counter {
  margin-top: 20px;
  margin-bottom: 40px;
  bottom: auto;
}

.RewardPicture img {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PrizesIcon button {
  display: inline;
  cursor: pointer;
  vertical-align: middle;
}

.start-image img {
  padding: 10px 0px 20px 0;
  width: 65%;
  height: auto;
}
